.down-head {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .down-head {
    font-weight: bold;
    font-size: 35px;
  }
}

.down-par {
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 992px) {
  .down-par {
    font-weight: 400;
    font-size: 20px;
  }
}

.button.getbutton {
  margin-bottom: 20px;
  font-size: 18px;
}

.OSBlock {
  margin-top: 150px;
  margin-bottom: 150px;
}

.card-title.titlecard {
  font-weight: bold;
}

.card-text.titlepar {
  font-weight: 400;
}

.card-deck.text-center.downloadgroup {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .card-title.titlecard {
    font-size: 18px;
  }
}

.col-md-4.imagecol {
  align-content: center;
  text-align: center;
}

.down-par.bot {
  font-weight: 600;
}

.topkonqi {
  text-align: center;
}

.topkonqi h3 {
  font-weight: bold;
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.topkonqi h4 {
  font-size: 28px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.topkonqi {
  background-color: #31363b;
}

.col-md-4.imagecol {
  background-color: transparent;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .OSBlock.alt {
    display: none;
  }
}

@media (max-width: 767px) {
  .OSBlock.main {
    display: none;
  }
}
.card.announcements {
  margin-top: 50px;
  margin-bottom: 25px;
}

.divheadannoun {
  font-weight: bold;
  margin-top: 50px;
}
#videosection {
  text-align: center;
}

#videosection iframe {
  width: 90%;
  height: 453px;
  margin-top: 50px;
}

@media (min-width: 992px) {
  #videosection iframe {
    width: 896px;
    height: 504px;
    margin-top: 50px;
  }
}
