.letter-head {
  margin-top: 50px;
}

.letter p {
  font-size: 20px;
  margin-top: 10px;
}

.card-title.cardheading {
  font-size: 16px;
  font-weight: bold;
  padding: 0px;
}

.card-text.carddesc {
  font-size: 16px;
}

.row.Junior {
  margin-top: 20px;
}

.card-body.Junior {
  text-align: center;
}

.faq {
  font-size: 20px;
  font-weight: bold;
}

.button.FAQ.Button {
  background-color: inherit;
  color: #f67400;
  font-size: 18px;
  border-color: #f67400;
  font-weight: bold;
}

.row.FAQrow {
  margin-top: 30px;
}

.faqpar {
  font-size: 18px !important;
  font-weight: 400;
}

.lib {
  font-size: 20px;
  font-weight: bold;
}

.lib {
  margin-top: 10px;
}

.topsec {
  text-align: center;
  background-color: #31363b !important;
}

.topsec h4 {
  font-size: 28px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: white !important;
}

.topsec h3 {
  font-weight: bold;
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
  color: white !important;
}

.dropdowndiv {
  text-align: center;
}

.button.Drop.Down {
  border-width: 2px;
  border-color: black;
}

.letter-article {
  margin-top: 50px;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #f47750;
  font-weight: bold;
  cursor: pointer;
}
.tab-label:hover {
  background: #da4453;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;

  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.tab-content.contribute {
  overflow: scroll;
}
.dropdown.links {
  margin: auto;
  margin-top: 40px;
  position: relative;

  height: 200px;
}

.headinglink {
  border-radius: 2px;
  position: relative;
  background: #3daee9;
  font-size: 18px;
  height: 40px;
  color: white;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px #95a5a6;
  transition: all 0.4s;
  margin-left: 40px;
}
.liblists-ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all 0.4s ease-out;
  height: 100%;
}
.liblist {
  border-radius: 2px;
  position: relative;
  display: inline-block;

  line-height: 1.5;
  width: 100%;

  margin-bottom: 5px;
  background: #3daee9;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px #95a5a6;
  font-size: 18px;
  text-align: center;
}

.liblist:hover {
  background: #2980b9;
  transition: background 0.45s;
}

.liblist a {
  display: block;
  color: white;

  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color 0.3s;
}
@media (prefers-color-scheme: dark) {
  .tab-content {
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  .headinglink {
    color: white !important;
  }
}
.tab-content.contribute button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.learnmore {
  font-weight: 600;
  color: #382b22;
  padding: 1.25em 2em;
  background: #1abc9c;
  border: 2px solid #003333;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  width: 100%;
}

button.learnmore::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #16a085;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #003333, 0 0.625em 0 0 #1cdc9a;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learnmore:hover {
  background: #27ae60;
  transform: translate(0, 0.25em);
}

button.learnmore:hover::before {
  box-shadow: 0 0 0 2px #003333, 0 0.5em 0 0 #1cdc9a;
  transform: translate3d(0, 0.5em, -1em);
}

button.learnmore:active {
  background: #27ae60;
  transform: translate(0em, 0.75em);
}

button.learnmore:active::before {
  box-shadow: 0 0 0 2px #003333, 0 0 #1cdc9a;
  transform: translate3d(0, 0, -1em);
}
