---
layout: default
title: Download
sorted: 3
---

<section class="topkonqi">
    <h4>Hey, I am Konqi.</h4>
    <h3>KDE Connect is on all major platforms.</h3>

    <picture>
        <source srcset="assets/img/downloadskonqi.webp" type="image/webp"/>
        <source srcset="assets/img/downloadskonqi.png" type="image/png"/>
        <img alt="Downloads Header" class="img-fluid" src="assets/img/downloadskonqi.png"/>
    </picture>
</section>

<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/tux.webp" type="image/webp"/>
                    <source srcset="assets/img/tux.png" type="image/png"/>
                    <img alt="Tux" class="img-fluid" src="assets/img/tux.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Linux</h1>
                <p class="down-par">
                    Konqi and Tux are good friends. KDE Connect Desktop Component is
                                                                                                                                                                                                                                                                                                  available as a package on most Linux Distribution's repos. You can
                                                                                                                                                                                                                                                                                                  build it too. Non-Plasma users like Gnome and AppIndicator supported
                                                                                                                                                                                                                                                                                                  desktop users have various ways to enhance their experience like
                    <a href="https://extensions.gnome.org/extension/1319/gsconnect/">GSConnect</a>
                    which implements KDE Connect protocol to Gnome and uses our android
                                                                                                                                                                                                                                                                                                  app , and
                    <a href="https://github.com/Bajoja/indicator-kdeconnect">indicator-kdeconnect</a>
                    is available for AppIndicator supported Desktops.
                </p>
                <p class="down-par bot">
                    That's why Konqi says, "Tux and me are good old Buddies!"
                </p>
                <a href="https://userbase.kde.org/KDEConnect#Installation">
                    <button class="button getbutton" type="button">
                        Instructions for Linux
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/google-play-badge.webp" type="image/webp"/>
                    <source srcset="assets/img/google-play-badge.png" type="image/png"/>
                    <img alt="Google Play" class="img-fluid" src="assets/img/google-play-badge.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Android</h1>
                <p class="down-par">
                    KDE Connect Android App is available on both Google Play Store and on
                                                                                                                                                                                                                                                                                                  the Open Source
                    <a href="https://f-droid.org/packages/org.kde.kdeconnect_tp/">F-Droid Store.&nbsp;</a>
                </p>
                <p class="down-par bot">
                    Konqi notes, "That Green Bot is always nice. Green Forever both of
                                                                                                                                                                                                                                                                                                  us."
                </p>
                <a href="https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp">
                    <button class="button getbutton" type="button">
                        Get it from Play Store
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Android</h1>
                <p class="down-par">
                    KDE Connect Android App is available on both Google Play Store and on
                                                                                                                                                                                                                                                                                                  the Open Source
                    <a href="https://f-droid.org/packages/org.kde.kdeconnect_tp/">F-Droid Store.&nbsp;</a>
                </p>
                <p class="down-par bot">
                    Konqi notes, "That Green Bot is always nice. Green Forever both of
                                                                                                                                                                                                                                                                                                  us."
                </p>
                <a href="https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp">
                    <button class="button getbutton" type="button">
                        Get it from Play Store
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/google-play-badge.webp" type="image/webp"/>
                    <source srcset="assets/img/google-play-badge.png" type="image/png"/>
                    <img alt="Google Play" class="img-fluid" src="assets/img/google-play-badge.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source media="(prefers-color-scheme: dark)" srcset="assets/img/SailfishOS_logo-dark.webp"/>
                    <source media="(prefers-color-scheme: dark)" srcset="assets/img/SailfishOS_logo-dark.png"/>
                    <source media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" srcset="assets/img/SailfishOS_logo.webp"/>
                    <source media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" srcset="assets/img/SailfishOS_logo.png"/>
                    <img class="img-fluid" src="assets/img/SailfishOS_logo.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">SailfishOS</h1>
                <p class="down-par">
                    KDE Connect is available on SailfishOS and the KDE Connect Team is
                                                                                                                                                                                                                                                                                                  working on bringing connect to other linux based phones.&nbsp;
                </p>
                <p class="down-par bot">
                    Konqi remembers, " Tux likes Linux-based phones. So why not? "
                </p>
                <a href="https://openrepos.net/content/piggz/kde-connect">
                    <button class="button getbutton" type="button">
                        Get it for SailfishOS
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/windows.webp" type="image/webp"/>
                    <source srcset="assets/img/windows.png" type="image/png"/>
                    <img alt="Windows" class="img-fluid" src="assets/img/windows.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Windows</h1>
                <p class="text-left down-par">
                    KDE Connect works fairly well on Windows. Build&nbsp; today following
                                                                                                                                                                                                                                                                                                  the detailed instructions.
                </p>
                <p class="down-par bot">
                    Konqi says, "The valley of the Windows Users is a great place to
                                                                                                                                                                                                                                                                                                  visit."
                </p>
                <a href="https://community.kde.org/KDEConnect/Build_Windows">
                    <button class="button getbutton" type="button">
                        Instructions for Windows
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Windows</h1>
                <p class="text-left down-par">
                    KDE Connect works fairly well on Windows. Build&nbsp; today following
                                                                                                                                                                                                                                                                                                  the detailed instructions.
                </p>
                <p class="down-par bot">
                    Konqi says, "The valley of the Windows Users is a great place to
                                                                                                                                                                                                                                                                                                  visit."
                </p>
                <a href="https://community.kde.org/KDEConnect/Build_Windows">
                    <button class="button getbutton" type="button">
                        Instructions for Windows
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/windows.webp" type="image/webp"/>
                    <source srcset="assets/img/windows.png" type="image/png"/>
                    <img alt="Windows" class="img-fluid" src="assets/img/windows.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source media="(prefers-color-scheme: dark)" srcset="assets/img/mac-dark.webp"/>
                    <source media="(prefers-color-scheme: dark)" srcset="assets/img/mac-dark.png"/>
                    <source media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" srcset="assets/img/mac.webp"/>
                    <source media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" srcset="assets/img/mac.png"/>
                    <img class="img-fluid" src="assets/img/mac.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Mac OS</h1>
                <p class="down-par">
                    KDE Connect works fairly well on Mac OS. Build&nbsp; today following
                                                                                                                                                                                                                                                                                                  the detailed instructions.
                </p>
                <p class="down-par bot">
                    Katie says to Konqi, " Some of my friends are on MacOS"
                </p>
                <a href="https://community.kde.org/KDEConnect/Build_MacOS">
                    <button class="button getbutton" type="button">
                        Instructions for Mac OS
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/qt.webp" type="image/webp"/>
                    <source srcset="assets/img/qt.png" type="image/png"/>
                    <img alt="Qt" class="img-fluid" src="assets/img/qt.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Mobile Friendly QML App</h1>
                <p class="down-par">
                    It offers an alternate Mobile Friendly interface, targeted at mobile
                                                                                                                                                                                                                                                                                                  Linux Platforms such as Plasma Mobile.
                </p>
                <p class="down-par bot">
                    Konqi asked other Antlers once, " Why not on other linux phones with
                                                                                                                                                                                                                                                                                                  QML, eh?"
                </p>
                <a href="https://community.kde.org/KDEConnect#Mobile-Friendly_QML_App">
                    <button class="button getbutton" type="button">
                        Build QML App
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Mobile Friendly QML App</h1>
                <p class="down-par">
                    It offers an alternate Mobile Friendly interface, targeted at mobile
                                                                                                                                                                                                                                                                                                  Linux Platforms such as Plasma Mobile.
                </p>
                <p class="down-par bot">
                    Konqi asked other Antlers once, " Why not on other linux phones with
                                                                                                                                                                                                                                                                                                  QML, eh?"
                </p>
                <a href="https://community.kde.org/KDEConnect#Mobile-Friendly_QML_App">
                    <button class="button getbutton" type="button">
                        Build QML App
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/qt.webp" type="image/webp"/>
                    <source srcset="assets/img/qt.png" type="image/png"/>
                    <img alt="Qt" class="img-fluid" src="assets/img/qt.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/KDE_Logo.webp" type="image/webp"/>
                    <source srcset="assets/img/KDE_Logo.png" type="image/png"/>
                    <img alt="KDE Logo" class="img-fluid" src="assets/img/KDE_Logo.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Desktop SMS App</h1>
                <p class="down-par">
                    KDE Connect has an SMS messaging App which lets you type and view SMS
                                                                                                                                                                                                                                                                                                  messages from your Computer.
                </p>
                <p class="down-par bot">
                    Konqi is happy because now he can send SMS to Katie from his computer.
                                                                                                                                                                                                                                                                                                  How cool is that?
                </p>
                <a href="https://community.kde.org/KDEConnect#Desktop_SMS_Messaging_App">
                    <button class="button getbutton" type="button">
                        Instructions for SMS App
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/git.webp" type="image/webp"/>
                    <source srcset="assets/img/git.png" type="image/png"/>
                    <img alt="Git" class="img-fluid" src="assets/img/git.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Source Code</h1>
                <p class="down-par">
                    KDE Connect Source Code can be viewed using cgit. Source Code is
                                                                                                                                                                                                                                                                                                  available for all OS.
                </p>
                <p class="down-par bot">Konqi says, "Source Code is Sweet."</p>
                <a href="https://cgit.kde.org/kdeconnect-kde.git">
                    <button class="button getbutton" type="button">
                        Learn More
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Source Code</h1>
                <p class="down-par">
                    KDE Connect Source Code can be viewed using cgit. Source Code is
                                                                                                                                                                                                                                                                                                  available for all OS.
                </p>
                <p class="down-par bot">Konqi says, "Source Code is Sweet."</p>
                <a href="https://cgit.kde.org/kdeconnect-kde.git">
                    <button class="button getbutton" type="button">
                        Learn More
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/git.webp" type="image/webp"/>
                    <source srcset="assets/img/git.png" type="image/png"/>
                    <img alt="Git" class="img-fluid" src="assets/img/git.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="card-deck text-center downloadgroup">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title titlecard">Pairing Two Devices</h4>
            <p class="card-text titlepar">
                Konqi wants to help you in pairing two devices and change their
                                                                                                                                                                                                                                        names.&nbsp;
            </p>
            <a class="card-link" href="https://userbase.kde.org/KDEConnect#Pairing_two_devices_together">
                <button class="button learn-more" type="button">Learn More</button>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title titlecard">Features</h4>
            <p class="card-text titlepar">
                A list of cool features that are there in KDE Connect.
            </p>
            <a class="card-link" href="https://userbase.kde.org/KDEConnect#Overview">
                <button class="button learn-more" type="button">Learn More</button>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title titlecard">Trouble Shooting</h4>
            <p class="card-text titlepar">
                Still having issues? Konqi will take you to the trouble shooting Section
            </p>
            <a class="card-link" href="https://community.kde.org/KDEConnect#Troubleshooting">
                <button class="button learn-more" type="button">Learn More</button>
            </a>
        </div>
    </div>
</div>
