---
layout: default
title: Get Involved
konqi: assets/img/konqi-dev.png
sorted: 5
---

<section class="topsec">
    <h4>Made By You.</h4>
    <h3>Get Involved.</h3>

    <picture>
        <source srcset="assets/img/Header.webp" type="image/webp"/>
        <source srcset="assets/img/Header.png" type="image/png"/>
        <img alt="Made By You Header" class="img-fluid" src="assets/img/Header.png"/>
    </picture>
</section>

<article class="letter-article">
    <div class="container">
        <div class="row">
            <div class="col col-md-10 col-lg-8 mx-auto letter">
                <section class="notprogrammer">

                    <picture>
                        <source srcset="assets/img/involved-header.webp" type="image/webp"/>
                        <source srcset="assets/img/involved-header.png" type="image/png"/>
                        <img alt="Not a Programmer" class="img-fluid" src="assets/img/involved-header.png"/>
                    </picture>
                </section>
                <h4 class="letter-head">
                    <strong>Hello,</strong>
                </h4>
                <p>
                    Welcome to the KDE Family. KDE Connect is a perfect project to start
                                                                                                                                                                                                                                                                                                                                                                                                                                              contributing to KDE. You will need a basic understanding of
                                                                                                                                                                                                                                                                                                                                                                                                                                              programming concepts, the rest can be learned by doing. Experience
                                                                                                                                                                                                                                                                                                                                                                                                                                              with Android or Qt is beneficial but not needed. Not a programmer? We
                                                                                                                                                                                                                                                                                                                                                                                                                                              have other roles too. You can also contribute to other KDE Projects
                                                                                                                                                                                                                                                                                                                                                                                                                                              and Groups. We want to make it easy to get involved. Various other
                                                                                                                                                                                                                                                                                                                                                                                                                                              antlers are ready to help out new contributors. You can find them on
                                                                                                                                                                                                                                                                                                                                                                                                                                              the mentoring page.&nbsp; Many of them hangout in chatrooms and
                                                                                                                                                                                                                                                                                                                                                                                                                                              Telegram. Feel free to ask them any question you may have!
                </p>


                <h2 class="headinglink">List of chats</h2>

                <ul class="liblist-ul">
                    <li class="liblist" class="liblist">
                        <a href="irc://irc.freenode.org/#kdeconnect">IRC:#kdeconnect on Freenode</a>
                    </li>
                    <li class="liblist">
                        <a href="https://t.me/joinchat/AOS6gA37orb2dZCLhqbZjg">KDE Connect Dev Telegram</a>
                    </li>
                    <li class="liblist">
                        <a href="https://webchat.kde.org/#/welcome">Welcome Matrix-Place to Start</a>
                    </li>
                    <li class="liblist">
                        <a href="https://mail.kde.org/mailman/listinfo/kdeconnect">KDE Connect Mailing List</a>
                    </li>
                    <li class="liblist">
                        <a href="https://community.kde.org/Telegram">Other Telegram Channels</a>
                    </li>
                    <li class="liblist">
                        <a href="https://userbase.kde.org/IRC_Channels">Other IRC</a>
                    </li>
                </ul>


                <h4 class="letter-head">
                    <strong>Hey, Developer. Help Develop KDE Connect.&nbsp;&nbsp;</strong>
                </h4>
                <section class="notprogrammer">

                    <picture>
                        <source srcset="assets/img/developer.webp" type="image/webp"/>
                        <source srcset="assets/img/developer.png" type="image/png"/>
                        <img alt="Developer" class="img-fluid" src="assets/img/developer.png"/>
                    </picture>
                </section>
                <p>
                    We have a group to discuss development. You can access it from
                                                                                                                                                                                                                                                                                                                                                                                                                                              Telegram, IRC or matrix.org. Feel free to ask any questions there. We
                                                                                                                                                                                                                                                                                                                                                                                                                                              also have a mailing list.&nbsp;
                </p>

                <div class="row Junior">
                    <div class="col">
                        <div class="card">

                            <picture>
                                <source srcset="assets/img/junior_job.webp" type="image/webp"/>
                                <source srcset="assets/img/junior_job.png" type="image/png"/>
                                <img class="card-img-top w-100 d-block" src="assets/img/junior_job.png" style="background-color: white;"/>

                            </picture>
                            <div class="card-body Junior">
                                <a class="button" href="https://phabricator.kde.org/project/board/159/ " role="button">Junior Jobs</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p>
                            There are a couple of tasks marked as Junior Jobs on our
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          workboard. Those have some extra information on how to approach
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          them that help you get started.
                        </p>
                    </div>
                </div>
                <div class="tabs">
                    <div class="tab">
                        <input id="fq1" type="checkbox"/>
                        <label class="tab-label" for="fq1">Libraries</label>
                        <div class="tab-content">
                            <p>
                                We always get asked about the libraries that are used in KDE Connect Development, some of them are not packaged by some distros yet. You can build them from source. Some of the dependencies are some versions behind. Some of the most asked ones are listed below:
                            </p>
                            <div>
                                <ul class="liblist-ul">
                                    <li class="liblist">
                                        <a href="https://www.qt.io/download">Qt</a>
                                    </li>
                                    <li class="liblist">
                                        <a href="https://github.com/KDE/pulseaudio-qt">KF5PulseAudioQt</a>
                                    </li>

                                    <li class="liblist">
                                        <a href="https://github.com/KDE/kpeoplevcard">KF5PeopleVCard</a>
                                    </li>
                                    <li class="liblist">
                                        <a href="https://api.kde.org/frameworks/kirigami/html/index.html">Kirigami2</a>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                The full Libraries list can be found in the CMakeLists.txt file
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                and they are available at the
                                <a href="https://api.kde.org/frameworks/index.html">official frameworks page</a>
                                or on
                                <a href="https://cgit.kde.org/">git</a>,
                                <a href="https://github.com/KDE/">github</a>.
                            </p>
                        </div>
                    </div>
                    <a href="https://community.kde.org/KDEConnect#Setting_up_KDE_Connect_Repository_for_Development">
                        <div class="tab">


                            <label class="tab-label">Setting up KDE Connect Repository for Development</label>

                        </div>
                    </a>
                    <a href="https://community.kde.org/KDEConnect#Set_up_second_remote_.28Optional.29">
                        <div class="tab">


                            <label class="tab-label">Set up second remote</label>

                        </div>
                    </a>
                    <a href="https://community.kde.org/KDEConnect#Restarting_the_daemon">
                        <div class="tab">


                            <label class="tab-label">Restarting the daemon</label>

                        </div>
                    </a>
                    <a href="https://community.kde.org/KDEConnect#DBus_inspection">
                        <div class="tab">


                            <label class="tab-label">DBus Inspection</label>

                        </div>
                    </a>


                </div>
                <div class="dropdowndiv"></div>
                <h4 class="letter-head">
                    <strong>Not a Programmer?</strong>
                </h4>

                <p>
                    Not a problem. There is plenty of other tasks that you can help us
                                                                                                                                                                                                                                                                                                                                                                                                                                              with to make KDE Connect and other KDE Family of products better even
                                                                                                                                                                                                                                                                                                                                                                                                                                              if you don't know any programming language. See some of other ways
                                                                                                                                                                                                                                                                                                                                                                                                                                              below.
                </p>

                <div class="tab">
                    <input id="contribute" type="checkbox"/>
                    <label class="tab-label" for="contribute">Other Ways To Contribute</label>
                    <div class="tab-content contribute">
                        <p>
                            <a href="https://community.kde.org/Get_Involved/Issue_Reporting">
                                <button class="learnmore">
                                    Issue Reporting : Found an issue or have an idea for
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      improvement? Tell us.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Guidelines_and_HOWTOs/Bug_triaging">
                                <button class="learnmore">
                                    Bug Triaging: Help us find the bugs to fix on Bugzilla.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved/translation">
                                <button class="learnmore">
                                    Translation: Help us Translate projects to your language.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved/design">
                                <button class="learnmore">
                                    Visual and Human Interface Design: Help us learn how users
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      interact and improve.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved/documentation">
                                <button class="learnmore">
                                    Documentation: Help us improve our documentation to make users
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      comfortable.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved/support">
                                <button class="learnmore">
                                    User Support: Help other users by finding solutions to their
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      problems.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved/promotion">
                                <button class="learnmore">
                                    Promotion: Help us spread the word!
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/KDE.org">
                                <button class="learnmore">
                                    Web Design: Help us improve the KDE Web Presence.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved/accessibility">
                                <button class="learnmore">
                                    Accessibility:Make Projects easy to use for people with
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      visual,auditory and motor disabilities.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Incubator">
                                <button class="learnmore">
                                    Your Project to KDE: Learn about our incubation program.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://www.kde.org/community/donations/index.php">
                                <button class="learnmore">
                                    Donate: All things don't come free. Help us run KDE.
                                </button>
                            </a>
                        </p>
                        <p>
                            <a href="https://community.kde.org/Get_Involved">
                                <button class="learnmore">
                                    More: There are even more ways, more than what could be listed
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      out.
                                </button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
