---
layout: default
title: User support
konqi: assets/img/konqi-docbook.png
sorted: 4
---

<section class="topkonqi">
    <h4>Having Problems with KDE Connect or want help?</h4>
    <h3>This is the help you need.</h3>

    <picture>
        <source srcset="assets/img/usersupportheader.webp" type="image/webp"/>
        <source srcset="assets/img/usersupportheader.png" type="image/png"/>
        <img alt="User Support" class="img-fluid" src="assets/img/usersupportheader.png"/>
    </picture>
</section>
<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">

                <picture>
                    <source srcset="assets/img/userbase.webp" type="image/webp"/>
                    <source srcset="assets/img/userbase.png" type="image/png"/>
                    <img alt="User Base" class="img-fluid" src="assets/img/userbase.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">UserBase Wiki</h1>
                <p class="down-par">
                    Got lost in the features? Want to know how to install and use connect?
                                                                                                                                                                                                                                                                                                                                                                                                      Having trouble with some features? The UserBase Wiki is a great place
                                                                                                                                                                                                                                                                                                                                                                                                      to start.&nbsp;It provides information for end users on how to use and
                                                                                                                                                                                                                                                                                                                                                                                                      configure KDE Connect.
                </p>
                <a href="https://userbase.kde.org/KDEConnect">
                    <button class="button getbutton" type="button">
                        UserBase WIki
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/wikiuser.webp" type="image/webp"/>
                    <source srcset="assets/img/wikiuser.png" type="image/png"/>
                    <img alt="Wiki User" class="img-fluid" src="assets/img/wikiuser.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">KDE Connect Wiki</h1>
                <p class="down-par">
                    Has everything that you need support on. Developer or normal user.
                                                                                                                                                                                                                                                                                                                                                                                                      From Installation to Development. Even troubleshooting.
                </p>
                <a href="https://community.kde.org/KDEConnect">
                    <button class="button getbutton" type="button">
                        Connect WIki
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">
                    <strong>KDE Connect Wiki</strong>
                </h1>
                <p class="down-par">
                    Has everything that you need support on. Developer or normal user.
                                                                                                                                                                                                                                                                                                                                                                                                      From Installation to Development. Even troubleshooting.&nbsp;
                </p>
                <a href="https://community.kde.org/KDEConnect">
                    <button class="button getbutton" type="button">
                        Connect Wiki
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/wikiuser.webp" type="image/webp"/>
                    <source srcset="assets/img/wikiuser.png" type="image/png"/>
                    <img alt="Wiki User" class="img-fluid" src="assets/img/wikiuser.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">

                <picture>
                    <source srcset="assets/img/handbook.webp" type="image/webp"/>
                    <source srcset="assets/img/handbook.png" type="image/png"/>
                    <img alt="handbook" class="img-fluid" src="assets/img/handbook.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Handbook</h1>
                <p class="down-par">
                    Connect provides various features. Read our handbook to get to know
                                                                                                                                                                                                                                                                                                                                                                                                      KDE Connect.
                </p>
                <a href="https://docs.kde.org/index.php?application=kdeconnect-kde&amp;language=en">
                    <button class="button getbutton" type="button">
                        Handbook
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">

                <picture>
                    <source srcset="assets/img/forum.webp" type="image/webp"/>
                    <source srcset="assets/img/forum.png" type="image/png"/>
                    <img alt="Forums" class="img-fluid" src="assets/img/forum.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Forums</h1>
                <p class="text-left down-par">
                    Having an issue or want to discuss a problem. Why not do it on the
                                                                                                                                                                                                                                                                                                                                                                                                      Forums?Maybe someone has already solved a similar problem. And if not,
                                                                                                                                                                                                                                                                                                                                                                                                      feel free to ask there!
                </p>
                <a href="https://forum.kde.org/">
                    <button class="button getbutton" type="button">
                        Forums
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">
                    <strong>Forums</strong>
                </h1>
                <p class="text-left down-par">
                    Having an issue or want to discuss a problem. Why not do it on the
                                                                                                                                                                                                                                                                                                                                                                                                      Forums?Maybe someone has already solved a similar problem. And if not,
                                                                                                                                                                                                                                                                                                                                                                                                      feel free to ask there!
                </p>
                <a href="https://forum.kde.org/">
                    <button class="button getbutton" type="button">
                        Forums
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/forum.webp" type="image/webp"/>
                    <source srcset="assets/img/forum.png" type="image/png"/>
                    <img alt="Forums" class="img-fluid" src="assets/img/forum.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">


                <picture>
                    <source srcset="assets/img/features.webp" type="image/webp"/>
                    <source srcset="assets/img/features.png" type="image/png"/>
                    <img alt="Features" class="img-fluid" src="assets/img/features.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Found a Bug? Request a new feature?</h1>
                <p class="down-par">
                    Bugs always happen and we need to fix it. Connect has many features
                                                                                                                                                                                                                                                                                                                                                                                                      and we can add more. Both of these can happen with a little help from
                                                                                                                                                                                                                                                                                                                                                                                                      you. You can file bugs and new feature requests on our Bugzilla.
                                                                                                                                                                                                                                                                                                                                                                                                      Developers can start working on it.
                </p>
                <a href="https://bugs.kde.org/">
                    <button class="button getbutton" type="button">
                        &nbsp;Bugzilla
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock alt">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-4 imagecol">


                <picture>
                    <source srcset="assets/img/mailinglist.webp" type="image/webp"/>
                    <source srcset="assets/img/mailinglist.png" type="image/png"/>
                    <img alt="Mailing List" class="img-fluid" src="assets/img/mailinglist.png"/>
                </picture>
            </div>
            <div class="col-md-8 down-desc">
                <h1 class="down-head">Mailing List</h1>
                <p class="down-par">
                    Still can't resolve the issue. Why not get in touch through email?
                                                                                                                                                                                                                                                                                                                                                                                                      Developers and other users including enthusiasts can help you out.
                </p>
                <a href="https://bugs.kde.org/">
                    <button class="button getbutton" type="button">
                        Mailing List
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="OSBlock main">
    <div class="container">
        <div class="row downrow">
            <div class="col-md-8 down-desc">
                <h1 class="down-head">
                    <strong>Mailing List</strong>
                </h1>
                <p class="down-par">
                    Still can't resolve the issue. Why not get in touch through email or
                                                                                                                                                                                                                                                                                                                                                                                                      IRC? Developers and other users including enthusiasts can help you
                                                                                                                                                                                                                                                                                                                                                                                                      out.&nbsp;
                </p>
                <a href="https://mail.kde.org/mailman/listinfo/kdeconnect">
                    <button class="button getbutton" type="button">
                        Mailing List
                    </button>
                </a>
            </div>
            <div class="col-md-4 imagecol">
                <picture>
                    <source srcset="assets/img/mailinglist.webp" type="image/webp"/>
                    <source srcset="assets/img/mailinglist.png" type="image/png"/>
                    <img alt="Mailing List" class="img-fluid" src="assets/img/mailinglist.png"/>
                </picture>
            </div>
        </div>
    </div>
</div>
