.feature {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 10px;

  h1 {
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .feature h1 {
    font-size: 56px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .feature h2 {
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.button {
  &.download {
    margin-right: 40px;
    margin-top: 20px;
    font-size: 24px;
  }

  &.donate {
    margin-top: 20px;
    font-size: 24px;
  }
}

.feature.dark {
  background-color: #31363b;
}

.button.learn-more {
  margin-top: 20px;
  font-size: 20px;
}

.feature {
  &.command {
    background-color: #31363b;
  }

  &.dark {
    color: white;
  }
}

.product-in.dark {
  color: white;
}

.downloadagainsec {
  padding-top: 40px;
}

.button {
  &.getinvolved {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  &.download2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  &.download,
  &.donate {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.product-in {
  height: 550px;
  padding-top: 40px;
  margin: 0 0 10px 10px;
  text-align: center;

  h3 {
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .product-in h3 {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .product-in h4 {
    font-size: 25px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.prodim {
  margin-top: 15px;
}

.product-in {
  &.plasma {
    background-color: #f47750;
  }

  &.plugin {
    background-color: #31363b;
  }

  &.wiki {
    background-color: #da4453;
  }
}

.grid {
  padding-right: 10px;
  padding-bottom: 60px;
}

.feature {
  &.music,
  &.ring {
    background-color: white;
  }
}

.product-in.OpenVpn {
  background-color: white;
}

.connect,
.connect-desc {
  color: white !important;
}

.music,
.music-desc,
.notifications,
.notifications-desc {
  color: #212529 !important;
}

.command,
.command-desc,
.browse,
.browse-desc {
  color: white !important;
}

.ring,
.ring-desc {
  color: #212529 !important;
}

.more,
.more-desc,
.madebyyou,
.madebyyou-desc {
  color: white !important;
}

.product-in {
  &.plasma {
    h3,
    h4 {
      color: #212529 !important;
    }
  }

  &.plugin.dark {
    h3,
    h4 {
      color: white !important;
    }
  }

  &.OpenVpn {
    h3,
    h4 {
      color: #212529 !important;
    }
  }

  &.wiki {
    h3,
    h4 {
      color: #212529 !important;
    }
  }
}
